/* Estilos gerais */
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 0;
    font-family:'Roboto', sans-serif;
    font-size: 1em;
}


/*Header */

.scroll {

    
    height: 90vh;
    background-color: #0000005c;
    object-fit:contain;
    background-size:100%;
    background-repeat: no-repeat;
    position: relative;
    padding: 0 16.5vw;


    

}

#img-header {

    background-image:url(img/Grupo\ de\ máscara\ 1.svg);
    object-fit:contain;
    background-repeat: no-repeat;
}



.header {

    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;
    height: 10vh;
    background-color:teal
    }

.menu {

    height: 9vh;
    width: 58vw;
    background-color:rgba(0, 255, 255, 0.212);
    margin-top: 2vh; 

 }

    


    
    .menu ul{
        margin-left: 16.9vw;
        font-size: 1.2vw;
        background-color:#0000005c;
        padding: 0;
        width: 25.5vw;
        border-radius: 47px;
    }
    
    .menu li{
      
       
        display: inline; 
         
        
    }
    
    .menu li a{
        margin-top: 1px;
        margin-bottom: 1px;
        font-family: 'Roboto', sans-serif;   
        margin:5px;
        color: white;
        text-decoration: none;
        font-size: 0.9375em;
        margin-top: 2vh;
        
        
    
       
        
    }
    
    .menu li a:hover{
        transition: 400ms;
        color:red
        
    }


.button {

    height:10vh ;
    margin-left: 0vh;
    background-color:yellow;
    width: 9vw;
    font-size: 1.2vw;
    
    
    
    }

    .button a {

    margin-top: 1px;
    margin-bottom: 1px;
    font-family: 'Roboto', sans-serif;
    margin: 5px;
    color: white;
    text-decoration: none;
    margin-top: 2vh;
    font-size: 1.2vw;

        
    }

    .actionContainer {

        
        height: 54.8vh;
        width: 27vw;
        margin-top: 18vh;
        background-color: #0000005c;
        border-radius: 4vh;
    }


    .text {

        height: 50vh;
        background-color:rgb(85, 17, 17);
        font-family: 'Roboto', sans-serif;
        color: white;
    }

    .titulo {

        font-family: 'Roboto', sans-serif;
        font-size: 1.4vw;

    }

    .subtitulo {
        font-family: 'Roboto', sans-serif;
        font-size: 2.8vw;
        margin-top: 0vw;
    }

    .paragrafo {
        
        font-family: 'Roboto', sans-serif;
        font-size: 1vw;
        margin-top: 2vw;
    }

    .buttonContainer {

        height:9vh ;
        margin-left: 0vh;
        margin-right: 30vh;
        margin-top: -8vh;
        background-color:navy;
        width: 9vw;
    }

    .button1 {
        height:9vh;
        margin-left: -4vh;
        background-color: red;
        width: 11vw;
        color: whitesmoke;
        margin-top: 2vh;
        border: none;
        padding: 10px 20px;
        font-family: 'Roboto', sans-serif;
        cursor: pointer;
        box-shadow: inset 0 0 0 0 #FF4500;
        transition: ease-out 0.3s;
        outline: none;
        border-radius: 4px;
        position: relative;

    }

    .button1:hover {
      box-shadow:   inset 23vh 0 0 0 #FF4500;
      cursor: pointer;

    }
   
    .button2 {
        height:9vh ;
        margin-left: 0vh;
        background-color: red;
        width: 11vw;
        color: whitesmoke;
        border: none;
        padding: 10px 20px;
        font-family: 'Roboto', sans-serif;
        cursor: pointer;
        box-shadow: inset 0 0 0 0 #FF4500;
        transition: ease-out 0.3s;
        outline: none;
        border-radius: 4px;
        position: relative;
    }

    .button2:hover {
        box-shadow:   inset 23vh 0 0 0 #FF4500;
        cursor: pointer;

    }

    

    

    

    /*second scroll */

    

    

    


    


