/* Estilos gerais */
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 0;
    font-family:'Roboto', sans-serif;
    font-size: 1em;
}


/*Header */

.scroll {

    
    height: 90vh;
    background-color:transparent;
    background-image:url(img/Grupo\ de\ máscara\ 1.svg);
    object-fit:contain;
    background-size:100%;
    background-repeat: no-repeat;
    position: relative;


    

}



.header {

    display: grid;
    grid-template-columns: 2fr 1fr;

    width: 100%;

    height: 10vh;
    background-color:transparent
    
    
}

.menu {

    height: 9vh;
    width: 58vw;
    background-color:rgba(0, 255, 255, 0.212)
    margin-top: 2vh;
    }
    
    .menu ul{
        margin-left: 16.9vw;
        font-size: 1.2vw;
        background-color: rgba(0, 255, 255, 0.212);
        padding: 0;
        width: 25.5vw;
        border-radius: 47px;
    }
    
    .menu li{
      
       ;
        display: inline; 
         
        
    }
    
    .menu li a{
        margin-top: 1px;
        margin-bottom: 1px;
        font-family: 'Roboto', sans-serif;   
        margin:5px;
        color: white;
        text-decoration: none;
        font-size: 0.9375em;
        margin-top: 2vh;
        
        
    
       
        
    }
    
    .menu li a:hover{
        transition: 400ms;
        color:red
        
    }


.button {

    height:10vh ;
    margin-left: 0vh;
    background-color:transparent;
    width: 9vw;
    font-size: 1.2vw;
    
    
    
    }

    .button a {

    margin-top: 1px;
    margin-bottom: 1px;
    font-family: 'Roboto', sans-serif;
    margin: 5px;
    color: white;
    text-decoration: none;
    margin-top: 2vh;
    font-size: 1.2vw;

        
    }

    .actionContainer {

        
        height: 59.8vh;
        width: 27vw;
        margin-top: 18vh;
        background-color:transparent
    }


    .text {

        height: 50vh;
        background-color:rgb(85, 17, 17)
        font-family: 'Roboto', sans-serif;
        color: white;
    }

    .titulo {

        font-family: 'Roboto', sans-serif;
        font-size: 1.4vw;

    }

    .subtitulo {
        font-family: 'Roboto', sans-serif;
        font-size: 2.8vw;
        margin-top: 0vw;
    }

    .paragrafo {
        
        font-family: 'Roboto', sans-serif;
        font-size: 1vw;
        margin-top: 2vw;
    }

    .buttonContainer {

        height:9vh ;
        margin-left: 0vh;
        margin-right: 30vh;
        margin-top: -8vh;
        background-color:TRA
        width: 9vw;
    }

    .button1 {
        height:9vh;
        margin-left: -4vh;
        background-color: red;
        width: 11vw;
        color: whitesmoke;
        margin-top: 2vh;
        border: none;
    }

    .button2 {
        height:9vh ;
        margin-left: 0vh;
        background-color: red;
        width: 11vw;
        color: whitesmoke;
        border: none;
        font-size: 1.2vw;
    }

    .nevoa {

        
    height: 90vh;
    width: 100%;
    background-color:#0000005c;
    position: absolute;


    }

    .container {
        
        width: 100%;
        height: 100%;
        padding: 0 16.5vw;

    }


    


/* Introdução */